<mat-sidenav-container class="host-container">
  <mat-sidenav mode="side" class="sidebar" opened>
    <h3 *ngIf="user$ | async as user">
      Hi {{ user.name }}.
      <br />
      <small><a (click)="logout()">Log out</a></small>
    </h3>
    <div class="menu" cdkMenu>
      <button
        class="menu-item"
        routerLink="/"
        routerLinkActive="active"
        cdkMenuItem
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </button>
      <button
        class="menu-item"
        routerLink="cart"
        routerLinkActive="active"
        cdkMenuItem
      >
        Cart
      </button>
      <button
        class="menu-item"
        routerLink="about"
        routerLinkActive="active"
        cdkMenuItem
      >
        About
      </button>
      <button
        class="menu-item"
        routerLink="login"
        routerLinkActive="active"
        cdkMenuItem
      >
        Login
      </button>
      <button
        class="menu-item"
        routerLink="shop"
        routerLinkActive="active"
        cdkMenuItem
      >
        Shop 🔒
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="host-body">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
