<div class="layout-wrapper" [ngClass]="containerClass">
  <app-topbar></app-topbar>

  <div class="layout-sidebar" [hidden]="!sidebar.isActivated">
    <router-outlet name="sidebar" #sidebar="outlet"></router-outlet>
  </div>
  <div
    class="layout-main-container"
    [ngClass]="{ 'no-sidebar': !sidebar.isActivated }"
  >
    <button title="toggle menu" class="menu-toggle" (click)="layoutService.onMenuToggle()" *ngIf="sidebar.isActivated">
      <i class="pi" [ngClass]="toggleIconClass"></i>
    </button>
    <div class="layout-main">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-config></app-config>
  <div class="layout-mask"></div>
</div>
