<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light'
          ? 'logo-dark'
          : 'logo-white'
      }}.svg"
      alt="logo"
    />
    <span>SAKAI</span>
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div>
    <button
      pButton
      icon="{{ menu.icon }}"
      label="{{ menu.label }}"
      class="p-button-secondary p-button-text"
      *ngFor="let menu of topMenus"
      (click)="goto(menu)"
    ></button>
  </div>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <button class="p-link layout-topbar-button">
      <i class="pi pi-calendar"></i>
      <span>Calendar</span>
    </button>

    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>

    <p-avatar
      image="{{ user.picture }}"
      size="large"
      shape="circle"
      class="ml-3"
      *ngIf="user$ | async as user; else login"
    ></p-avatar>

    <ng-template #login>
      <button class="p-link layout-topbar-button" (click)="gotoLogin()">
        <i class="pi pi-user"></i>
        <span>Profile</span>
      </button>
    </ng-template>
  </div>
</div>
